/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html, body{
	height: 100%;
	font-family: 'Titillium Web', sans-serif;

}

h1, h2, h3, h4, h5 {
	font-family: 'Bangers', cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

/* Display border for all boxes*/


.container {
	width: 80%;
	margin: auto;
	
}

/* HEADER- */
header nav{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: nowrap;
	align-items: center;
	margin-top: 50px;
	
	
}

/* Format INNOVATION section */
.innovation{
	display: flex;
	justify-content: space-evenly;
	margin-top: 50px;
}

.innovation-text{
	display: flex;
	flex-direction: column;
}
.innovation-text h1{
	font-size: 70px;
	text-align: center;
	line-height: 1.8;
}

.innovation-text button{
	font-size: 35px;
	background-color: white;
}

.innovation img{
	width: 40%;
	
}
/* END OF INNOVATION */

/* MAIN-CONTENT */
.main-content{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-bottom: 50px;
	margin-top: 50px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray; 	
}
.main-content div{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin: 20px 5px 20px 5px;
	height: 100px;
}

.features {
	width: 40%;
}
.about{
	width: 40%;
}

.middle-img{
	width: 100%;
	height: 200px;
}

.services{
	width: 30%;
}
.product{
	width: 30%;
}
.vision{
	width: 30%;
}
.footer{
	text-align: center;
}


